<a href="https://colab.research.google.com/github/Edubc01/Actividad-1-Extraccion-de-datos-/blob/main/2_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importamos pandas, numpy y matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##**VALORES NULOS**

In [ ]:
#Carga desde un archivo .csv sin indice
data = pd.read_csv('inmuebles2.csv')
data.head(5)

In [ ]:
# Eliminar la primera fila o las filas innecesarias
data1 = pd.read_csv('inmuebles2.csv', skiprows=1)
data1.head(5)

In [ ]:
#Eliminar columnas innecesarias
#axis=1 para columnas
#axis=0 para filas
data2 = data1.drop(['0', 'Referencia'], axis = 1)
data2

In [9]:
#Identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [8]:
#Identificar valores nulos por columna
valores_nulos = data2.isnull().sum().sum()
valores_nulos

1175

##**Metodos de sustitucion de valores nulos**

In [10]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [13]:
#Primer metodo de sustitucion de valores nulos
#Sustituir valores nulos con promedio o media
data3["Superficie"] = data3["Superficie"].fillna(round(data3["Superficie"].mean(),1))

In [14]:
valores_nulos = data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [18]:
#Segundo metodo de sustitucion de valores nulos
#Sustituir valores nulos con mediana
data3['Precio Venta'] = data3['Precio Venta'].fillna(round(data3['Precio Venta'].median(),1))

In [19]:
valores_nulos = data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [20]:
#Tercer metodo de sustitucion de valores nulos
#Sustituir valores nulos por un valor numerico en concreto
data3['Fecha Alta'] = data3['Fecha Alta'].fillna(10)

In [21]:
valores_nulos = data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [22]:
#Cuarto metodo de sustitucion de valores nulos
#Sustituir valores nulos por un string en concreto
data3['Fecha Venta'] = data3['Fecha Venta'].fillna("2030-06-19 00:00:00")

In [23]:
valores_nulos = data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [24]:
#Quinto metodo de sustitucion de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Filtro por columnas
data3['Tipo'] = data3['Tipo'].fillna(method = "ffill")

In [25]:
valores_nulos = data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [26]:
#Sexto metodo de sustitucion de valores nulos
#Sustituir valores nulos por valores no nulos hacia atras "backward fill" ("bfill")
#Filtro por columnas
data3['Operación'] = data3['Operación'].fillna(method = "bfill")

In [27]:
valores_nulos = data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [28]:
#Sustituir valores nulos por valores no nulos hacia atras "backward fill" ("bfill")
#Filtro por columnas
data3['Provincia'] = data3['Provincia'].fillna(method = "bfill")

In [29]:
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Filtro por columnas
data3['Vendedor'] = data3['Vendedor'].fillna(method = "ffill")

In [30]:
valores_nulos = data3.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

##**Metodo de eliminacion de valores nulos**

In [31]:
valores_nulos = data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [32]:
#Realizamos una copia del dataframe
data4 = data2.copy()

In [33]:
#Eliminamos filas con nulos
#0 para eliminar filas y 1 para eliminar columnas
data4 = data4.dropna(0)

<ipython-input-33-48dff5b2fc63>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  data4 = data4.dropna(0)

In [34]:
#Identificar valores nulos por columna
valores_nulos = data4.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

##**Comparamos Dataframe 3 (sustitucion) y Dataframe 4(eliminacion)**

In [35]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3337 non-null   object
 1   Tipo          3337 non-null   object
 2   Operación     3337 non-null   object
 3   Provincia     3337 non-null   object
 4   Superficie    3337 non-null   float64
 5   Precio Venta  3337 non-null   float64
 6   Fecha Venta   3337 non-null   object
 7   Vendedor      3337 non-null   object
dtypes: float64(2), object(6)
memory usage: 208.7+ KB

In [36]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2747 entries, 0 to 3045
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    2747 non-null   object
 1   Tipo          2747 non-null   object
 2   Operación     2747 non-null   object
 3   Provincia     2747 non-null   object
 4   Superficie    2747 non-null   float64
 5   Precio Venta  2747 non-null   float64
 6   Fecha Venta   2747 non-null   object
 7   Vendedor      2747 non-null   object
dtypes: float64(2), object(6)
memory usage: 193.1+ KB

##**Convertir DataSet sin valores nulos a CSV**

In [37]:
#Convertir Dataframe a CSV
data3.to_csv('inmuebles_sin_nulos.csv')